<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mood Log</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

        <div class="container mt-4">
            <form th:action="@{/moods/log}" method="POST">
                <label for="mood">Select your mood:</label>
                <select id="mood" name="moodScore" required>
                    <option value="2">Amazing</option>
                    <option value="1">Good</option>
                    <option value="0">Fine</option>
                    <option value="-1">Bad</option>
                    <option value="-2">Awful</option>
                </select>

                <label for="note">Note</label>
                <textarea id="note" name="note" placeholder="What happened today?"></textarea>
                
                <button type="submit" class="btn btn-primary">Log Mood</button>

            </form>

        </div>

    
    

        
</body>

</html>
